<h1><%= title %></h1>

<a href='' id='low'>Low (£)</a></br>
<a href='' id='medium'>Medium (££)</a></br>
<a href='' id='high'>High (£££)</a></br>

<div id='activity-list'></div>

<%
  var test = function() {
    return 'something';
  };
%>
