#filter-container {
  background-color: red;
  margin: auto;
  padding: 10px;
  width: 50%;
  height: 200px;
  margin-top: 40px;
}

#price {
  margin:0 auto;
  width: 32%;
  display: inline-block;
}

#rating {
  margin: 0 auto;
  width: 32%;
  display: inline-block;
  box-align: center;
  margin-left: 30px;
}

#type {
  margin: 0 auto;
  width: 32%;
  display: inline-block;
}

#map {
  background-color: blue;
  margin: auto;
  width: 50%;
  padding: 10px;
  height: 400px;
}

#results {
  background-color: green;
  margin: auto;
  width: 50%;
  padding: 10px;
  height: 400px;
}

#results-inner {
  padding: 20px;
}
