@import
url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  margin: auto;
  padding:0;
  height: 100%;
  width: 70%;
  font-family: lato;
}

.header {
  background-image: url("shitweekend3.png");
  background-repeat: no-repeat;
  margin: auto;
  width: 100%;
  padding: 10px;
  height: 50px;
  margin-top: 20px;
}

form label {
  display: inline-block;
  background-color: #fff;
  padding: 4px 11px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

form input[type=radio] {
  display: none;
}

form input[type="radio"]:checked+label {
  background-color: #bbb !important;
}

#title {
  padding-bottom: 5px;
}

#description-container {
  background-color: #35637A;
  margin: auto;
  width: 100%;
  padding: 10px;
  height: 100px;
  border-radius: 10px;
  border: solid #11303F;
}

#price {
  text-align: center;
  background-color: #ddd;
  margin: auto;
  width: 100%;
  padding: 10px;
  height: 50px;
  overflow: hidden;
  position: relative;
  bottom: 10px;
  border-left: solid #11303F;
  border-right: solid #11303F;
}

#rating {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  width: 100%;
  padding: 10px;
  height: 50px;
  overflow: hidden;
  border-left: solid #11303F;
  border-right: solid #11303F;
  position: relative;
  bottom: 10px;
}

#type {
  text-align: center;
  background-color: #ddd;
  margin: auto;
  width: 100%;
  padding: 10px;
  height: 50px;
  border-left: solid #11303F;
  border-right: solid #11303F;
  position: relative;
  bottom: 10px;
}

#map {
  width: 103%;
  height: 20%;
}

#map-container {
  height: 200px;
  width: 100%;
  text-align: center;
  border-left: solid #11303F;
  border-right: solid #11303F;
}

#results {
  background-color: #fefefe;
  margin: auto;
  width: 100%;
  padding: 10px;
  border-left: solid #11303F;
  border-right: solid #11303F;
  position: relative;
  top: 10px;
}

#results-inner {
  padding: 20px;
  text-align: center;
}

.searchResult {
  margin: auto;
  font-size: 50px;
}

.footer {
  background-color: #ddd;
  margin: auto;
  width: 100%;
  padding: 10px;
  height: 50px;
  border-radius: 10px;
  border: solid #11303F;
  background-color: #35637A;
}
